---
import Layout from '../layouts/Layout.astro';
import Paper from '../components/Paper.astro';
---

<Layout>
	<main>
		<h2>About me</h2>
		<p>
			I am an astrophysicist starting my PhD at University of Waterloo in Fall 2026. My research focuses on the
			study of rocky exoplanets orbiting M-dwarf stars..

			My master's thesis project at the University of Montreal involved creating a new data analysis pipeline 
			(<a class='link-secondary' href='https://github.com/nicholasconnors/erebus'>Erebus</a>) for interpreting JWST MIRI photometry data
			in order to investigate the secondary eclipses of these rocky worlds, allowing us to place constraints on possible atmospheric and surface compositions.

			At Waterloo I plan to continue the study of rocky worlds, while also investigating the possible atmospheres of high temperature lava worlds.
			Beyond JWST, I will analyze data from the Roman Space Telescope when it is launched in order to study the overall prevelence of rocky worlds
			outside of our solar system.
		</p>
		<h2> Publications </h2>
		<h6> First author </h6>
		<ul>
			<li>
				<Paper 
					title='GJ 3929 b as the First Complete Rocky Worlds DDT Data Set'
					authors='<strong>N. J. Connors</strong> et al.'
					url='https://ui.adsabs.harvard.edu/abs/2026arXiv260607511C/abstract'
					year='2026'
					journal='Accepted to ApJL; arXiv:2606.07511'
				/>
			</li>
			<li>
				<Paper 
					title='Uniform Reanalysis of JWST MIRI 15 μm Exoplanet Eclipse Observations Using Frame-normalized Principal Component Analysis'
					authors='<strong>N. J. Connors</strong> et al.'
					url='https://ui.adsabs.harvard.edu/abs/2025ApJ...989L..11C/abstract'
					year='2025'
					journal='ApJL, Volume 989, Issue 1, id.L11, 11 pp.;  arXiv:2507.02052'
				/>
			</li>
		</ul>
		<h6> Nth author </h6>
		<ul>
			<li>
				<Paper 
					title='Uniform Reinterpretation of Rocky Exoplanet Secondary Eclipse Observations and the Impact of Stellar and Orbital Uncertainties'
					authors='C. Monaghan, ..., <strong>N. J. Connors</strong>, ...'
					url='https://ui.adsabs.harvard.edu/abs/2026AJ....171..319M/abstract'
					year='2026'
					journal='The Astronomical Journal, Volume 171, Issue 5, id.319, 20 pp.;  arXiv:2604.15421'
				/>
			</li>
			<li>
				<Paper 
					title='Primordial Radius Gap and Potentially Broad Core Mass Distributions of Super-Earths and Sub-Neptunes'
					authors='E. J. Lee, <strong>N. J. Connors</strong>'
					url='https://ui.adsabs.harvard.edu/abs/2021ApJ...908...32L/abstract'
					year='2020'
					journal='ApJ 908 32; arXiv:2008.01105'
				/>
			</li>
		</ul>

		<h2> Education </h2>
		<p>
		PhD in Physics (University of Waterloo) - Accepted Fall 2026. <br/>
		MSc in Physics (University of Montreal) - 2024-2026 <br/>
		BSc Joint Major Physics and Computer Science (McGill University) - 2018-2022
		</p>
	</main>
</Layout>
