---
import BrandIcon from '../components/BrandIcon.astro';
---

<div class="wrapper flex-grow-1"></div>
<footer>
    <div class="d-flex">
        <div class="row d-flex justify-content-center m-2 mt-4 p-2 pt-4">
            <div class="col"><a href='https://erebus.nicholasconnors.space' class='link-primary text-nowrap'>Erebus docs</a></div>
            <div class="col"><BrandIcon name="GitHub" class="fa-github" url="https://github.com/nicholasconnors" /></div>
            <div class="col"><BrandIcon name="LinkedIn" class="fa-linkedin" url="https://www.linkedin.com/in/nicholas-j-connors"/></div>
        </div>
    </div>
</footer>