<header class="bg-overlay pt-4">

    <div class="d-flex justify-content-center text-white pb-2">
        <a href="/" class="link-light d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center pe-2">
                <h1>Nicholas J. Connors</h1>
            </div>
            <div class="ps-2">
                <img class="rounded-circle" style="height: 80px; padding-bottom: 4px;" src="src/assets/picture.jpg" alt="Picture of me!">
            </div>
        </a>
    </div>

</header>